<!--
<!DOCTYPE html>
<html>
<head>
    <title>SpaCy Analysis</title>
</head>
<body>
    <h1>핑구가 제품을 분석해드립니다</h1>
    <form method="post">
        {% csrf_token %}
        <textarea name="text" rows="5" cols="50"></textarea><br>
        <button type="submit">찾기</button>
    </form>

    {% if analysis_result %}
        <p>제품명 : {{ analysis_result }}</p>
    {% endif %}
</body>
</html>
-->

<!--
<div class="flex flex-col items-center justify-center min-h-screen bg-gradient-to-t from-pink-500 via-purple-500 to-indigo-500">
    <main class="w-full max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden p-6 space-y-2 md:max-w-2xl">
      <header class="flex flex-col items-center">
        <h1 class="text-3xl font-bold text-blue-900 mb-4">핑구가 제품을 분석해드립니다</h1>
      </header>
      <form class="flex flex-col space-y-4">
        <div class="flex flex-col">
          <label class="mb-2 font-bold text-lg text-blue-900" for="inputField">
            제품 설명을 입력하세요
          </label>
          <textarea
            class="border-2 border-blue-300 p-2 rounded-md"
            id="inputField"
            placeholder="여기에 입력하세요..."
            rows="5"
          ></textarea>
        </div>
        <button class="w-full py-2 px-4 bg-yellow-500 text-white rounded-md hover:bg-yellow-700" type="submit">
          찾기
        </button>
      </form>
      <section class="mt-4">
        <p class="text-lg text-blue-900">
          제품명 :<span class="font-bold">사용자가 텍스트를 먼저 입력하면 결과가 여기에 표시됩니다</span>
        </p>
      </section>
    </main>
  </div>
  -->

  <!DOCTYPE html>
<html>
<head>
    <title>SpaCy Analysis</title>
    <!-- Tailwind CSS CDN 추가 -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div class="flex flex-col items-center justify-center min-h-screen bg-gradient-to-t from-pink-500 via-purple-500 to-indigo-500">
        <main class="w-full max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden p-6 space-y-2 md:max-w-2xl">
            <header class="flex flex-col items-center">
                <h1 class="text-3xl font-bold text-blue-900 mb-4">핑구가 제품을 분석해드립니다</h1>
            </header>
            <form method="post" action="{% url 'result_view' %}" class="flex flex-col space-y-4" ><!-- target="_blank" 을 추가하면 새 웹페이지에서 열린다.-->
              {% csrf_token %}
                <div class="flex flex-col">
                    <label class="mb-2 font-bold text-lg text-blue-900" for="inputField">제품 설명을 입력하세요</label>
                    <textarea name="text" class="border-2 border-blue-300 p-2 rounded-md" id="inputField" placeholder="여기에 입력하세요..." rows="5"></textarea>
                </div>
                <button class="w-full py-2 px-4 bg-yellow-500 text-white rounded-md hover:bg-yellow-700" type="submit">찾기</button>
            </form>
        </main>
    </div>
</body>
</html>
