<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Recognition</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <div id="drop-area">
        <img src="https://searchenginereports.net/newassets/images/revrse-upload.svg" alt="Choose image" class="mt20 img-responsive">
        <p>Drag & Drop an image here or click to select one</p>
        <input type="file" id="file-input" style="display: none;">
    </div>

    <div id="image-container" style="margin-top: 40px;"></div>
    
    {% load static %}
    <script src="{% static 'dragNdrop.js' %}"></script>
</body>
</html>