<!DOCTYPE html>
<html>
<head>
    <title>상품 가격표를 올려주세요!</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div class="flex flex-col items-center justify-center min-h-screen bg-gradient-to-t from-pink-500 via-purple-500 to-indigo-500">
        <main class="w-full max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden p-6 space-y-2 md:max-w-2xl">
            <header class="flex flex-col items-center">
                <h1 class="text-3xl font-bold text-blue-900 mb-4">상품 가격표 업로드</h1>
            </header>
            <form method="post" enctype="multipart/form-data" class="flex flex-col space-y-4">
                {% csrf_token %}
                <div class="flex flex-col">
                    {{ form.as_p }}
                </div>
                <button class="w-full py-2 px-4 bg-yellow-500 text-white rounded-md hover:bg-yellow-700" type="submit">업로드</button>
            </form>
        </main>
    </div>
</body>
</html>
